<footer class="footer">
  <div class="footer-container">
    <div class="footer-column text-start">
      <!-- Optional social icons or links -->
    </div>

    <div class="footer-column text-center">
      Everyone deserves a <i class="fa-solid fa-trophy"></i> from Trophymade
    </div>

    <div class="footer-column text-end">
      <span class="small">&copy; <%= Time.current.year %> TrophyMade. All rights reserved.</span>
    </div>
  </div>
</footer>
