<form>
  <h2>Contact Information</h2>
  <div class="form-row">
    <div class="col-md-6">
      <label for="inputFirstName">First Name</label>
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col-md-6">
      <label for="inputLastName">Last Name</label>
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPhonenumber4">Phone Number</label>
      <input type="text" class="form-control" id="inputPhonenumber4">
    </div>
  </div>
  <h2>Shipping Address</h2>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>QLD</option>
        <option>NSW</option>
        <option>VIC</option>
        <option>WA</option>
        <option>SA</option>
        <option>TAS</option>
        <option>ACT</option>
        <option>NT</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputPostalcode">Postal Code</label>
      <input type="text" class="form-control" id="inputPostalcode">
    </div>
  </div>
  <h2>Payment Details <i class="fa-brands fa-cc-visa"></i> <i class="fa-brands fa-cc-mastercard"></i> <i class="fa-brands fa-cc-apple-pay"></i></h2>
  <div class="form-group">
    <div class="form-group col-md-6">
      <label for="inputCardname">Card Holder Name</label>
      <input type="text" class="form-control" id="inputCardname">
    </div>
    <div class="form-group col-md-6">
      <label for="inputCardnumber">Card Number</label>
      <input type="text" class="form-control" id="inputCardnumber">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputExpirydate">Expiration Date</label>
      <input type="text" class="form-control" id="inputPhonenumber4">
    </div>
    <div class="form-group col-md-6">
      <label for="inputCcv">CCV</label>
      <input type="text" class="form-control" id="inputCcv">
    </div>
  </div>
  <button type="submit" class="btn btn-mustard">Complete Purchase</button>
</form>
