<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url(https://t4.ftcdn.net/jpg/10/18/87/23/240_F_1018872371_YR4vkgQoJEbVbbS2YghMvatvvZCsYJdl.jpg);">
  <div class="container">
    <h1>Celebrate Victory</h1>
    <p>Personalised Trophies design by you</p>
    <a class="btn btn-mustard" href="/products">Shop now</a>
  </div>
</div>

<h2 class="category-title">Shop by category</h2>
<div class="cards">
  <div class="card-category">
    <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://lh3.googleusercontent.com/aida-public/AB6AXuBWtYRZ9rbXsQz2sE269ji1jDAD2lh_jK5sSZAMZukiBSDuHbsuhIpq7mTWxsJuO7fQ6dQ5fHy9aRVLea--gYbF-AA6eHBJj8kUrfWaSMHRQj9xKUtvXOD9WqQIHQZbEi8AVYXFqvWyOSfZ8fsAgW2oXZ-_GD2udv6nEC8mLiztLuQXO3nrajBSl_wN3NGP2G7RHlB3x7Yp2clauAnNzA-5qCVuQN2C599gYX0HvkKFCfdbldz8xRBSwIfpU8x-ACNR1Et65em4miAa)">
    </div>
    <div class="card-text">Sports</div>
  </div>

  <div class="card-category">
    <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://lh3.googleusercontent.com/aida-public/AB6AXuBh_yKxrepxwlMNu0Y1ijfPFxx3sdOlJd3Q1mehaxHCuDrkuITf2IxxsWSRiuyRfnbbN_yLuVUdNU6gjwqqBo2RQ_093xE61q0ZYTSAwigbWVg-hfk30yBPVfQneL_dUyS2wabRVLoX4jAS5IV6hN-wMrDhfmJF3jun-Y1yPdbWYA3WP5u-cuVBNn_yipRZJYOTTmykHRaOi5yCGRKulS5LKvXFvILkk8PQj6134V4ag8qWgKrfnbY_MWGP-I0HWvYoT5jfpRVf9rIM)">
    </div>
    <div class="card-text">Corporative</div>
  </div>

  <div class="card-category">
    <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://lh3.googleusercontent.com/aida-public/AB6AXuDBv3Yf7Agzsp-98VHexzyrlxj6_gPm5BfhpQXQVd0-TVqTxgm9-nyrrg6Br1l9ne_GvmUDty_W8EBA5mw7SXBlkdI9WhdbvWU3-dhgFnxbd8C1x5CAvKQCm4H48W17NkY6IaM6p3_ap-aE7KQRTxBumfh-o3-hD_fOdEEvOqNkYCrdrx2DYiUOS9LN3517qTCepRv63kkvUXPN1PcSBSvArWR3nQljpDylTav5flv5heYyYI020sBmWrx8bM1SVFPjhj_oSXirfTX8)">
    </div>
    <div class="card-text">Academic</div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-about">

  </div>
</div>
