.navbar-lewagon {
  justify-content: space-between;
  background: #208AAE;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 180px;
}

.search-dropdown {
  background-color: #208AAE;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1050;
}

.btn-icon-hover:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}
