.navbar {
  background-color: #0D2149;
  border: none;
  border-bottom: none;
  box-shadow: none;
  margin-bottom: 0;
  position: sticky;
  top: 0;
  z-index: 1030;

  &.sticky-top {
    border-bottom: none;
  }

  .navbar-brand img {
    height: 50px;
  }

  .btn-icon {
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s;

    &:hover {
      color: #FFDB58;
    }
  }

  .avatar {
    height: 32px;
    width: 32px;
    object-fit: cover;
  }

  .dropdown-menu {
    font-size: 0.9rem;
  }
}

// ANNOUNCEMENT BAR
.announcement-bar {
  text-align: center;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: 600;
  color: #111;
  background-color: #F3A712;

  p {
    margin: 0;
  }
}
