// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/footer";

html, body {
  height: 100%;
  margin: 0;
  font-family: $body-font;
}

body {
  color: #111;
  background-color: #fff;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

// Shared styles
.section-title {
  font-weight: 600;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

// Hero
.hero {
  background-color: #0D2149;
  height: 70vh;
  display: flex;
  align-items: center;
  margin-top: 0;
  padding-top: 0;

  .hero-inner {
    max-width: 700px;
    transform: translateY(-10%);

    h1 {
      font-weight: 600;
      font-size: 3rem;
      line-height: 2;
    }

    .h1-small {
      font-size: 1.1rem;
      margin-bottom: 1rem;
      font-weight: 400;
    }
  }
}

// Error Page Styles
.rails-default-error-page {
  background-color: #EFEFEF;
  color: #2E2F30;
  text-align: center;
  font-family: "Helvetica", "Arial", sans-serif;
  margin: 0;
}
